.microlight
{
    background-color:black !important;
}

.swagger-ui .download-contents {
    background-color: #09a91c !important;
}

.swagger-ui .copy-to-clipboard {
    background-color: #f93e3e !important;
}

